# Data Science Tools and Ecosystem

###In this notebook, Data Science Tools and Ecosystem are Summarized.

###Objectives:
- List popular data science languages
- List common libraries used for data science.
- List development environments used for data science.
- Demonstrate simple arithmetic experessions in python.

###Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. Scala
5. SQL

###Some of the commonly used (Python) libraries used by Data Scientists include:
1. Pandas
2. Seaborn
3. Scikit-learn
4. PyTorch

| Data Science Tools |
|:------:|
| RStudio |
| Jupyter Lab |
| Visual Studio |

###Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60.
t_min=200 #Time in minutes
t_hour=t_min/60 #Time converted to hours
print(t_hour)

3.3333333333333335

##Author
Mike Mattei